@{
    ViewData["Title"] = "Maaltijden App";
}

<div class="text-center">

    <h1 class="display-4">Welkom op de Maaltijden App van Avans</h1>
    <p>Log in met je studenten of medewerker account.</p>
    <a class="btn btn-danger" asp-controller="Account" asp-action="StudentLogin">Inloggen student</a>
    <a class="btn btn-info" asp-controller="Account" asp-action="EmployeeLogin">Inloggen medewerker</a>
</div>
